//@theme "/usr/share/rofi/themes/purple.rasi"
//@theme "/home/r1tz/.local/share/rofi/themes/rounded-nord-dark.rasi"
//@theme "/usr/share/rofi/themes/dmenu.rasi"
@theme "/home/r1tz/.local/share/rofi/themes/spotlight-dark.rasi"
