configuration{
    modi: "drun";
    icon-theme: "Oranchelo";
    terminal: "alacritty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " Apps";
}
@theme "~/.config/rofi/theme.rasi"
